.navbar-item.is-mega {
  position: static;

  .is-mega-menu-title {
    margin-bottom: 00px;
    padding: 0.375rem 1rem;
  }
  .is-mega-menu-title:hover {
    background-color: $white-ter;
  }
}

//0.375
